body {
background-image: url("../img/knitting250px/knitting250px.png");
background-repeat: repeat;
}

a.title {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: large;
    font-family: 'Pacifico', cursive;
}


a:link {
    color:black;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: black;
}

.card {
    margin: 0 auto;
}