html, body {
    height: 100%;
    margin: 0;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.box .row.content {
    text-align: center;
}

.main-section {
    text-align: center;
    box-sizing: border-box;
}

#header {
    background-color: #41d3bd;
}

#section-1 {
    background-color: #00a878;
}

#section-4 {
    background-color: #bcc4db;
}

#resume {
    background-color: #ef6f6c;
}

#section-2 {
    background-color: #ffba49;
}