html, body {
    height: 100%;
    margin: 0;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.box .row.content {
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
}

.main-section {
    text-align: center;
    box-sizing: border-box;
}

#header {
    background-color: #41d3bd;
}

#section-1 {
    background-color: #00a878;
}

#section-4 {
    background-color: #bcc4db;
}

#resume {
    background-color: #ef6f6c;
}

#section-2 {
    background-color: #ffba49;
}

#hello {
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 150px;
    margin: 0 auto;
}

#introduction {
    color: #DB5261;
    font-family: 'Lato', sans-serif;
    margin-top: 0;
}

.headshot {
    border-radius: 50%;
    border: solid #DB5261 10px;
    height: 300px;
}

.col {
    margin: 10px;
}


